input{
  width:15px;
  line-height: 10px;
  height:10px;
  text-align: center;
  position: absolute;
  top:25px;
  border-radius: 5px;
}
p{
  text-align: center;
}
#numberb,#numberc{
  display: none;
}
#numberc{
  top:0;
}
.container{
  width:875px;
  max-width: 100%;
  margin:0 auto;
  position: relative;
}
.digit{
  position: absolute;
  width:20px;
}
